version: "3"

services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    volumes:
      - client-data:/app
    networks:
      - test-network
    depends_on:
      - server

  db:
    container_name: postgres_container
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: stackoverfaux_db
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
    networks:
      - test-network
    ports:
      - "5432:5432"

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    networks:
      - test-network
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: stackoverfaux_db
    depends_on:
      - db
    links:
      - db

volumes:
  db-data:
    driver: local
  pgadmin-data:
  client-data:
  server-data:

networks:
  test-network: